EMBEDDING_MODEL = <embedding_model>

MODEL_NAME = <model_name>
MODEL_API_KEY = <model_api_key>

EDUCATION_DATABASE_HOST = education_database
EDUCATION_DATABASE_PORT = 5432
EDUCATION_DATABASE_USER = <user>
EDUCATION_DATABASE_PASS = <password>
EDUCATION_DATABASE_NAME = education_database

# Прокси (опционально)
HTTPS_PROXY = <proxy_url>
